body
{
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: #e0e0e0;
	font-family: "Segoe UI", Helvetica, Arial, Sans-Serif;
}

.advice
{
    padding-left: 15px; 
    color: red;

}
label input
{
    margin-left: 10px;

}

html
{
	height: 100%;
	padding: 0;
	margin: 0;
}

p
{
	font-size: 14px;
	margin-top: 0;
	padding-top: 0;
}

a
{
	color: #50cfe2;
	text-decoration: none;
}

form
{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.hide
{
	display: none;
}

.blue
{
	color: #50cfe2;
}

.blueBackground
{
	background-color: #50cfe2;
}

.blueDark
{
	color: #4ac1d5;
}

.blueDarkBackground
{
	background-color: #4ac1d5;
}

.lightGreyBackground {
    background-color: #f0f0f0;
}

.red
{
	color: #f21c7c;
}

.redBackground
{
	background-color: #f21c7c;
}

.redDark
{
	color: #d51d70;
}

.redDarkBackground
{
	background-color: #d51d70;
}

.green
{
	color: #78d23b;
}

.orange
{
	color: #f3c71a;
}

.orangeDark
{
	color: #e99612;
}

.greenDark
{
	color: #63b631;
}

.orangeDarkBackground
{
	background-color: #e99612;
}

.orangeBackground
{
	background-color: #f3c71a;
}

.greenBackground
{
	background-color: #78d23b;
}

.greenDarkBackground
{
	background-color: #63b631;
}

.whiteBackground
{
	background-color: #ffffff;
}

.navbar
{
	background-color: #3c405e;
	padding: 0;
	margin: 0;
	height: 50px;
	margin-bottom: 1px;
}

.narbar img
{
	margin: 0;
	padding: 0;
	border-width: 0 0 0 0;
}
