<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Stumps">
          <Directory Id="ContentFolder" Name="Content" />
          <Directory Id="ViewsFolder" Name="Views" />
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Stumps"/>
      </Directory>
    </Directory>
        
	</Fragment>
</Wix>