<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    
    <DirectoryRef Id="INSTALLFOLDER">

      <Component Id="StumpsServer" Guid="{6B78169B-555B-4B73-8723-B2F83C319881}">
        <File Id="Stumps_Base_dll" Source="..\Stumps.Startup\bin\Release\Stumps.Base.dll" />
        <File Id="Stumps_Server_dll" Source="..\Stumps.Startup\bin\Release\Stumps.Server.dll" />
        <File Id="Stumps_Web_dll" Source="..\Stumps.Startup\bin\Release\Stumps.Web.dll" />
        <File Id="Nancy_dll" Source="..\Stumps.Startup\bin\Release\Nancy.dll" />
        <File Id="Nancy_Hosting_Self_dll" Source="..\Stumps.Startup\bin\Release\Nancy.Hosting.Self.dll" />
        <File Id="Newtonsoft_Json_dll" Source="..\Stumps.Startup\bin\Release\Newtonsoft.Json.dll" />
      </Component>

      <Component Id="StumpsService" Guid="{A3679ACA-A094-4410-BF68-9DE53D69B01D}">
        <File Id="Stumps_exe" Source="..\Stumps.Startup\bin\Release\Stumps.exe" />
        <File Id="Stumps_exe_config" Source="..\Stumps.Startup\bin\Release\Stumps.exe.config" />
        <ServiceInstall Id="StumpsInstall" Name="Stumps" DisplayName="Stumps" Description="Stumps which runs a Mock Proxy. v$(var.VersionString)" Type="ownProcess" Start="auto" ErrorControl="ignore" Interactive="no" Vital="yes" />
        <ServiceControl Id="StumpsInstall_Control" Name="Stumps" Start="install" Remove="uninstall" Stop="both" Wait="yes" />
      </Component>

      <Component Id="StumpsLauncher" Guid="{B8465662-E9DE-4831-ACCE-B3887B2E9001}">
        <File Id="StumpsLauncher_exe" Source="..\Stumps.Launcher\bin\Release\StumpsLauncher.exe" />
      </Component>
      
    </DirectoryRef>

    <DirectoryRef Id="ContentFolder">

      <Component Id="StumpsContent" Guid="{F79BA6F1-C1EE-4242-9CAC-6E7933789009}">
        <File Id="forms_css" Source="..\Stumps.Startup\bin\Release\Content\forms.css" />
        <File Id="frm_checkon_png" Source="..\Stumps.Startup\bin\Release\Content\frm_checkon.png" />
        <File Id="frm_checkoff_png" Source="..\Stumps.Startup\bin\Release\Content\frm_checkoff.png" />
        <File Id="ico_cfg_png" Source="..\Stumps.Startup\bin\Release\Content\ico_cfg.png" />
        <File Id="ico_del_png" Source="..\Stumps.Startup\bin\Release\Content\ico_del.png" />
        <File Id="ico_pwr_on_png" Source="..\Stumps.Startup\bin\Release\Content\ico_pwr_on.png" />
        <File Id="ico_pwr_off_png" Source="..\Stumps.Startup\bin\Release\Content\ico_pwr_off.png" />
        <File Id="ico_rec_on_png" Source="..\Stumps.Startup\bin\Release\Content\ico_rec_on.png" />
        <File Id="ico_rec_off_png" Source="..\Stumps.Startup\bin\Release\Content\ico_rec_off.png" />
        <File Id="jquery_1.10.2_min_js" Source="..\Stumps.Startup\bin\Release\Content\jquery-1.10.2.min.js" />
        <File Id="url_min_js" Source="..\Stumps.Startup\bin\Release\Content\url.min.js" />
        <File Id="logo_png" Source="..\Stumps.Startup\bin\Release\Content\logo.png" />
        <File Id="main_css" Source="..\Stumps.Startup\bin\Release\Content\main.css" />
        <File Id="multipanel_css" Source="..\Stumps.Startup\bin\Release\Content\multipanel.css" />
        <File Id="ph_png" Source="..\Stumps.Startup\bin\Release\Content\ph.png" />
        <File Id="recordings_css" Source="..\Stumps.Startup\bin\Release\Content\recordings.css" />
        <File Id="servercard_css" Source="..\Stumps.Startup\bin\Release\Content\servercard.css" />
        <File Id="stumpeditor_css" Source="..\Stumps.Startup\bin\Release\Content\stumpeditor.css" />
        <File Id="stumps_css" Source="..\Stumps.Startup\bin\Release\Content\stumps.css" />
        <File Id="svr_new_png" Source="..\Stumps.Startup\bin\Release\Content\svr_new.png" />
        <File Id="svr_rec_png" Source="..\Stumps.Startup\bin\Release\Content\svr_rec.png" />
        <File Id="svr_run_png" Source="..\Stumps.Startup\bin\Release\Content\svr_run.png" />
        <File Id="svr_stp_png" Source="..\Stumps.Startup\bin\Release\Content\svr_stp.png" />
        <File Id="tb_back_png" Source="..\Stumps.Startup\bin\Release\Content\tb_back.png" />
        <File Id="tb_cstump_png" Source="..\Stumps.Startup\bin\Release\Content\tb_cstump.png" />
        <File Id="tb_delete_png" Source="..\Stumps.Startup\bin\Release\Content\tb_delete.png" />
        <File Id="tb_estump_png" Source="..\Stumps.Startup\bin\Release\Content\tb_estump.png" />
        <File Id="tb_recstart_png" Source="..\Stumps.Startup\bin\Release\Content\tb_recstart.png" />
        <File Id="tb_recstop_png" Source="..\Stumps.Startup\bin\Release\Content\tb_recstop.png" />
        <File Id="tb_save_png" Source="..\Stumps.Startup\bin\Release\Content\tb_save.png" />
        <File Id="exclamation_error_png" Source="..\Stumps.Startup\bin\Release\Content\exclamation-error.png" />
        <File Id="exclamation_error_b_png" Source="..\Stumps.Startup\bin\Release\Content\exclamation-error-b.png" />
        <File Id="toolbar_css" Source="..\Stumps.Startup\bin\Release\Content\toolbar.css" />
      </Component>
      
    </DirectoryRef>

    <DirectoryRef Id="ViewsFolder">

      <Component Id="StumpsViews" Guid="{C0E4E101-CC1B-440E-8D45-2B0A560003AD}">
        <File Id="addwebsite_sshtml" Source="..\Stumps.Startup\bin\Release\Views\addwebsite.sshtml" />
        <File Id="deletestump_sshtml" Source="..\Stumps.Startup\bin\Release\Views\deletestump.sshtml" />
        <File Id="deletewebsite_sshtml" Source="..\Stumps.Startup\bin\Release\Views\deletewebsite.sshtml" />
        <File Id="main_sshtml" Source="..\Stumps.Startup\bin\Release\Views\main.sshtml" />
        <File Id="master_sshtml" Source="..\Stumps.Startup\bin\Release\Views\master.sshtml" />
        <File Id="recordings_sshtml" Source="..\Stumps.Startup\bin\Release\Views\recordings.sshtml" />
        <File Id="stumpeditor_sshtml" Source="..\Stumps.Startup\bin\Release\Views\stumpeditor.sshtml" />
        <File Id="stumpsoverview_sshtml" Source="..\Stumps.Startup\bin\Release\Views\stumpsoverview.sshtml" />
      </Component>

    </DirectoryRef>
    
	</Fragment>

  <Fragment>
    <ComponentGroup Id="StumpsComponents">
      <ComponentRef Id="StumpsService" />
      <ComponentRef Id="StumpsServer" />
      <ComponentRef Id="StumpsContent" />
      <ComponentRef Id="StumpsViews" />
      <ComponentRef Id="StumpsLauncher" />
      <ComponentRef Id="ApplicationShortcuts" />
    </ComponentGroup>
  </Fragment>
</Wix>
